.btn {
    display: inline-block;
    cursor: pointer;
    margin: 1rem;
    background: linear-gradient($color-secondary, $color-primary);
    padding: 1.2rem 1.8rem;
    border-radius: 2rem;
    color: $color-white;
    font-size: 1.3rem;
    box-shadow: 1px 2px 10px rgba($color-black, 0.5);
    &:hover {
        background: linear-gradient(rgba($color-secondary, 0.7), rgba($color-primary, 0.8));
    }
}