.heart-icon {
    font-family: FontAwesome;
    position: relative;
    &::before {
      content: "\f7a9";
    //   font-weight: bold;
      padding: 5px;
    }
    &:hover::before{
        animation-name: heart;
        animation-duration: 2s;
        background: $gradient-background;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }


  @keyframes heart {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
  }
  

  // two heart animation
  .heart {
    cursor: pointer;
    font-size:1.5rem;
    position: relative;

    .full {
      position: absolute;
      right: 0;
      top: 1px;
      transition: all 500ms;
      opacity: 0;
      background: linear-gradient(
        to bottom,
        $color-primary 0%,
        $color-secondary 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      &:hover {
        opacity: 1;
      }
    }
  }