.menu {
  position: relative;
    img{
      width: 100%;
      object-fit:cover;
      height: 400px;
    }
    .menu-content{
      box-sizing: border-box;
      position: absolute;
      padding: 0 15px;
      background-color: $color-bg-restaurant;
      width: 100%;
      top: 300px;
      border-radius: 40px 40px 0 0;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .menu-group{
        .menu-title{
          margin-bottom: 5px;
        }
        hr {
            border: 2px solid $color-tertiare;
            width: 35px;
            margin: 0;
          }
      }
    }
  
    
  }

  .menu-card {
    // height: 80px;
    box-shadow: 0px 4px 10px darken(white, 20%);
    margin: 20px 0 0 0;
    background-color: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;

    // padding: 0 15px;
    align-items: center;
    position: relative;
    animation: menu-item-position 1500ms forwards;
    transition: all 500ms;
  
    &:hover .menu-card__content {
      .menu-card__price {
        margin-right: 81px;
      }
      .menu-card__title {
        margin-right: 81px;
      }
    }
    
    &:hover .menu-card__animation {
      .menu-card__icon {
        transform: translateX(0);
        i {
          transform: rotate(360deg);
        }
      }
    }
    
    .menu-card__content {
      width: 100%;
      .menu-card__title {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: all 400ms;
      }
      
      .menu-card__description {
        display: flex;
        justify-content: space-between;
        
        .menu-card__text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      
      .menu-card__price {
        font-weight: bold;
        transition: all 400ms ease-in-out;
      }
    }
    
    .menu-card__animation {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      
      .menu-card__icon {
        transition: transform 400ms ease-in-out;
        transform: translateX(81px);
        @include center;
        height: 80px;
        width: 80px;
        border-radius: 0 20px 20px 0;
        background-color: $color-tertiare;
        
        i {
          transition: transform 400ms ease-in-out;
          @include center;
          background-color: white;
          height: 35px;
          width: 35px;
          border-radius: 100%;
          font-size: 22px;
          color: $color-tertiare;
        }
      }
    }
  }
  
  
  // .menu-group {
  //   &:nth-child(3) {
  //     animation-delay: 0ms;
  //   }

  //   :nth-child(4) {
  //     animation-delay: 250ms;
  //   }

  //   :nth-child(5) {
  //     animation-delay: 500ms;
  //   }
  // }

  // .menu-title {
  //   padding: 25px 0 5px 0;
  // }

  // .title-border-green {
  //   height: 3px;
  //   width: 50px;
  //   background-color: $color-tertiare;
  // }