$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiare: #99E2D0;
$color-white: #ffffff;
$color-black: #000000;
$color-footer-background: #515151;
$color-bg-place:#e1e1e1;
$color-bg-explore:#f3f3f3;
$color-bg-restaurant:#f3f3f3;
$color-label-nouveau: #008868;

//add breakpoints
$breakpoint-tablet-min-width: 768px;
$breakpoint-desktop-min-width: 1366px;

$default-component-padding: 1rem;