$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiare: #99E2D0;
$color-footer-background: #818181;


//add breakpoints
$breakpoint-tablet-min-width: 768px;
$breakpoint-desktop-min-width: 1366px;

$default-component-padding: 1rem;